﻿@model School.Application.ViewModels.CourseViewModel

<div class="modal-header">
    <h4 class="modal-title">Course</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
</div>

<form asp-action="AddCourse"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-mode="replace"
      data-ajax-update="#course-form"
      data-ajax-success="onSuccess">

    <div class="card">
        <div class="card-body">
            <vc:summary></vc:summary>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <input type="submit" value="Confirm" class="btn btn-outline-success" />
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
