﻿@model School.Application.ViewModels.TeacherViewModel

@{
    ViewData["Title"] = "Details";
}
<h4 class="page-header">@ViewData["Title"]</h4>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Classroom"></label>
                <input asp-for="Classroom" class="form-control" readonly />
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a asp-action="Edit" asp-route-id=@Model.Id class="btn btn-outline-secondary">Edit</a>
            <a asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </div>
</div>

