﻿@model School.Application.ViewModels.TeacherViewModel

@{
    ViewData["Title"] = "Teacher";
}
<h4 class="page-header">@ViewData["Title"]</h4>
<hr />
<form asp-action="Edit">
    <div class="card">
        <div class="card-body">
            <vc:summary></vc:summary>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Classroom"></label>
                    <input asp-for="Classroom" class="form-control" />
                    <span asp-validation-for="Classroom" class="text-danger"></span>
                </div>
                <div id="course-id" class="form-group col-md-4">
                    <label asp-for="CourseId"></label>
                    <select asp-for="CourseId" asp-items="@ViewBag.Courses as SelectList" class="form-control">
                        <option>-Select an option-</option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <div class="btn-group">
                    <input type="submit" value="Confirm" class="btn btn-outline-success" />
                    <a asp-action="Index" class="btn btn-outline-dark">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}