﻿@model IEnumerable<School.Application.ViewModels.TeacherViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4 class="panel-title">@ViewData["Title"]</h4>
<hr />
<div class="btn-group m-3" role="group">
    <a asp-action="Edit" class="btn btn-outline-primary"><span class="glyphicon glyphicon-plus"></span> Add </a>
    <a asp-action="Edit" class="btn btn-outline-secondary" data-button="edit"><span class="glyphicon glyphicon-pencil"></span> Edit </a>
    <a asp-action="Detail" class="btn btn-outline-info" data-button="details"><span class="glyphicon glyphicon-search"></span> Details </a>
</div>
<table class="table table-striped table-bordered data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr data-href="@Url.Action("Edit", new { id=item.Id })" data-href-details="@Url.Action("Details", new { id=item.Id })">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
        </tr>
        }
    </tbody>
</table>
