﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - School</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/vendor/datatables.net-dt/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="~/vendor/datatables.net-buttons-dt/css/buttons.dataTables.css" />
        <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>

    <partial name="_Navbar" />
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - School</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/vendor/jquery/dist/jquery.js"></script>
        <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-dt/js/dataTables.dataTables.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/vendor/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <script src="~/vendor/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
