﻿<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">School</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Course" class="nav-link">Course</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Teacher" class="nav-link">Teacher</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Student" class="nav-link">Student</a>
            </li>
        </ul>
    </div>
</nav>