﻿@model School.Application.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Edit";
}
<h4 class="page-header">@ViewData["Title"]</h4>
<hr />
<form asp-action="Edit">
    <div class="card">
        <div class="card-body">
            <vc:summary></vc:summary>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <div class="btn-group">
                    <input type="submit" value="Confirm" class="btn btn-outline-success" />
                    <a asp-action="Index" class="btn btn-outline-dark">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
