﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">
                <p>
                    Sample project in .NET Core 2.1 with:
                    <ul>
                        <li>DDD</li>
                        <li>CQRS</li>
                        <li>MVC Core</li>
                        <li>Entity Framework Core</li>
                        <li>SOLID</li>
                        <li>Automapper</li>
                        <li>Bootstrap</li>
                        <li>DataTables</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li>Register a course.</li>
                        <li>Register a teacher.</li>
                        <li>Register a student.</li>
                    </ul>
                </p>

            </div>
        </div>
    </div>
</div>


