﻿@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgReturn">Atention!</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
}