﻿@model IEnumerable<School.Application.ViewModels.CourseViewModel>

<div class="modal-header">
    <h4 class="modal-title"><span class="fa fa-book"></span> Courses </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="row">
    <div class="col m-3">
        <table class="table table-striped table-bordered data-table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="5px">
                            <a asp-action="AddCourse" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"
                               data-ajax="true"
                               data-ajax-method="POST"
                               data-ajax-success="getCourses">
                            <span class="fa fa-plus"></span> 
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ListScriptsPartial");}
}
