﻿@model IEnumerable<School.Application.ViewModels.CourseViewModel>

<div class="m-3">
    <a asp-controller="Student"
       asp-action="ListCourses"
       class="btn btn-primary"
       data-ajax="true"
       data-ajax-method="GET"
       data-ajax-mode="replace"
       data-ajax-update="#course-form"
       data-ajax-success="openModal"
       data-ajax-failure="notifyFailure"><span class="glyphicon glyphicon-plus"></span>Add Course</a>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="5px">
                    <a asp-action="RemoveCourse" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"
                       data-ajax="true"
                       data-ajax-method="POST"
                       data-ajax-success="getCourses">
                        <span class="fa fa-minus"></span>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function notifyFailure() {
            alert("Failed to open window.");
        }
    </script>
}