﻿@model School.Application.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Edit";
}
<h4 class="page-header">@ViewData["Title"]</h4>
<hr />
<form asp-action="Edit">
    <div class="card">
        <div class="card-body">
            <vc:summary></vc:summary>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="BirthDate"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="list-courses">
                        @{ await Html.RenderPartialAsync("_ListCourses", Model.Courses); }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <div class="btn-group">
                    <input type="submit" value="Confirm" class="btn btn-outline-success" />
                    <a asp-action="Index" class="btn btn-outline-dark">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="course-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999999999">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div id="course-form">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // Endereço
        function openModal() {
            $("#course-modal").modal();
        }

        function getCourses() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("FindCourses")",
                dataType: "html",
                success: function (data) {
                    $("#list-courses").html(data);
                },
                error: function (e) {
                    alert(e);
                }
            });
        }
    </script>
}
