﻿@model School.Application.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutClear";
}

<section>
    <div class="card card-login mx-auto">
        <h3 class="card-header">@ViewData["Title"]</h3>
        <div class="card-body">
            <form asp-controller="Security" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <vc:summary></vc:summary>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <a asp-action="Register">New user</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-md-5 col-md-offset-4">

        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
